@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.blob {
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 15px #c08bc7;
  animation: blob 3.7s linear infinite;
}

@keyframes blob {

  0%,
  100% {
    border-radius:
      42% 56% 72% 28% / 42% 42% 56% 48%;
  }

  33% {
    border-radius:
      42% 28% 48% 48% / 28% 28% 72% 72%;
  }

  66% {
    border-radius:
      100% 56% 56% 100% / 100% 100% 56% 56%;
  }
}

.body_container {
  margin: 0;
  background-color: rgb(110, 74, 139);
  position: relative;
}


.card {
  background: rgba(42, 28, 53, 0.636);
  padding: 3px;
  position: relative;
  display: flex;
  border-radius: 6px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
  color: #f5acff;
  flex-direction: row;
  margin-top: 5px;
  height: auto;
}



@keyframes spin {
  0% {
    --rotate: 0deg;
  }

  100% {
    --rotate: 360deg;
  }
}

.info h1 {
  color: #f5acff;
  font-size: 30px;
}

.info h2 {
  color: #f5acff;
  font-size: 15px;
  margin-bottom: 2px;
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

@keyframes change-view {

  0%,
  50% {
    transform: rotate(-0deg) skew(00deg) translateX(calc(0 * var(--i))) translateY(calc(-0px * var(--i)));
  }

  70%,
  100% {
    transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i))) translateY(calc(-35px * var(--i)));
  }
}

.info input[type='file'] {
  display: none;
}

.svg_frame svg {
  position: absolute;
  transition: 0.5s;
  transform-origin: center;
  width: 450px;
  height: 450px;
  fill: none;
  animation: change-view 5s ease-in-out infinite alternate;
  filter: drop-shadow(0 0 12px #e798ff);
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.info label p {
  font-size: 17px;
  text-transform: uppercase;
}

.info input {
  font-size: 18px;
  margin-bottom: 8px;
}

.profile_pic {
  padding: 1rem;
  color: white;
  cursor: pointer;
  font-size: 0.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button_49,
.button_49:after {
  width: 130px;
  height: 50px;
  font-size: 20px;
  background: linear-gradient(45deg, transparent 5%, #f7b9ff 5%);
  border: 0;
  color: #1d032a;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #c08bc7;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: "Space Mono", monospace;
}

.button_49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: 'PROFILE';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #f5acff 3%, #b700ff 5%, #ea4dff 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #f5acff;
  clip-path: var(--slice-0);
}

.button_49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

.glow {
  transition-property: box-shadow;
  transition-duration: 1s;
  border-bottom: 1px solid #920ea3;
  padding: 5px;
  width: 80%;
  outline: none;
  transition: all 0.3s ease;
  background-color: transparent;
  color: white;
  text-align: center;
}

.glow:focus {
  box-shadow: 0px 5px 5px -2px #6f007e;
  outline: none;
}

.info input:focus {
  outline: none;
}

@media only screen and (min-width: 1251px) {
  .card {
    width: 65vw;
  }

  .button_49 {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1250px) {
  .card {
    width: 80vw;
  }

  .blob {
    width: 380px;
    height: 380px;
  }

  .button_49 {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1100px) {
  .card {
    width: 80vw;
  }

  .blob {
    width: 350px;
    height: 350px;
  }

  .button_49 {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1000px) {
  .card {
    width: 80vw;
  }

  .blob {
    width: 320px;
    height: 320px;
  }

  .button_49 {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .card {
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 3px;
    position: relative;
    border-radius: 10px;
    flex-direction: column;
    height: auto;
    width: auto;
  }

  .blob {
    width: 240px;
    height: 240px;
  }

  .button_49 {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 3px;
    position: relative;
    border-radius: 10px;
    flex-direction: column;
    width: 75vw;
    height: auto;
  }

  .blob {
    width: 200px;
    height: 200px;
  }

  .button_49 {
    margin-bottom: 10px;
    width: 110px;
    height: 45px;
    font-size: 19px;
  }
}


@media only screen and (max-width: 500px) {
  .card {
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position: relative;
    flex-direction: column;
    width: 80vw;
  }

  .blob {
    width: 100px;
    height: 100px;
  }

  .button_49 {
    margin-bottom: 10px;
    width: 100px;
    height: 40px;
    font-size: 18px;
  }
}