  .image-container {
      position: relative;
  }

  .base-image {
      width: 100%; 
  }

  .overlay-image {
      width: 100%;
      position: absolute;
      top: 2%;
      left: 0.1rem; 
      z-index: 1; 
  }
  .circle {
    width: 16.40875rem;
    height: 16.40875rem;
    background-image: linear-gradient(180deg, #1300ea 0%, #3a0a88 100%);
    border-radius: 50%;
    position: absolute;
    top: 22.646875rem;
    left: 36.810625rem;
}