# create a .env.local file and add the corresponding key value pairs
# during deployment, add these environment variable to the secrets of the
# platform where the site will be deployed

# this is appended with NEXT_PUBLIC_ so that it can be accessed from the frontend
NEXT_PUBLIC_RAZORPAY_API_KEY=<your_api_key_here>

RAZORPAY_API_SECRET=<your_api_secret_here>

# this secret must be same as which is used to setup razorpay webhooks
# which will be used by razorpay to sign the digest of the verification
RAZORPAY_WEBHOOK_SECRET=<your_webhook_secret_here>


# TODO: write documentation for these environment variables
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=