.box {
    top: 0;
    left: 0;
    width: 400px;
    height: 100px;
    clip-path: polygon(0 0,100% 0,100% calc(100% - 200.00px),calc(100% - 200.00px) 100%,0 100%);
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    align-items: center;
    justify-content: left;
    z-index: 1000;
    position: fixed;
}

.box1 {
    background: #2acdff4e;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 600px;
    height: 70px;
    clip-path: polygon(0 100.00px, 100.00px 0, 100% 0, 100% 100%, 0 100%);
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.box p, .box1 p {
    color: aliceblue;
    margin-right: 30px;
}