:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(0, 0%, 0%);
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.75rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.813rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
}

/* body,
  input,
  button {
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
  } */

body {
    color: var(--white-color);
}

input,
button {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*=============== LOGIN ===============*/
.login {
    position: relative;
    height: 100vh;
    display: grid;
    align-items: center;
}
.login__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.login__form {
    position: relative;
    background-color: hsla(0, 0%, 10%, 0.1);
    border: 2px solid var(--white-color);
    margin-inline: 1.5rem;
    padding: 2.5rem 1.5rem;
    border-radius: 1rem;
    backdrop-filter: blur(8px);
}
.login__title {
    text-align: center;
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 2rem;
}
.login__content,
.login__box {
    display: grid;
}
.login__content {
    row-gap: 2.2rem;
    margin-bottom: 1.5rem;
}
.login__box {
    grid-template-columns: max-content 1fr;
    align-items: center;
    column-gap: 0.75rem;
    border-bottom: 2px solid var(--white-color);
}
.login__icon,
.login__eye {
    font-size: 1.25rem;
}
.login__input {
    width: 100%;
    padding-block: 0.8rem;
    background: none;
    color: var(--white-color);
    position: relative;
    z-index: 1;
}
.login__box-input {
    position: relative;
}
.login__label {
    position: absolute;
    left: 0;
    top: 13px;
    font-weight: var(--font-medium);
    transition:
        top 0.3s,
        font-size 0.3s;
}
.login__eye {
    position: absolute;
    right: 0;
    top: 18px;
    z-index: 10;
    cursor: pointer;
}
.login__box:nth-child(2) input {
    padding-right: 1.8rem;
}

.login__button {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--black-color);
    font-weight: var(--font-medium);
    cursor: pointer;
    margin-bottom: 2rem;
}

/* Input focus move up label */
.login__input:focus + .login__label {
    top: -12px;
    font-size: var(--small-font-size);
}

/* Input focus sticky top label */
.login__input:not(:placeholder-shown).login__input:not(:focus) + .login__label {
    top: -12px;
    font-size: var(--small-font-size);
}

.guidlineButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 30px;
    background: linear-gradient(to top right, rgb(72, 15, 133), rgb(142, 18, 219));
    margin-bottom: 30px;
}

.instructionsModal{
    width: 450px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /* background: linear-gradient(to top right, rgba(29, 90, 161, 0.95), rgba(20, 114, 79, 0.95)); */
    color: black;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    outline: none;
    border-radius: 10px;
    padding: 10px 30px;
    padding-bottom: 30px;
  }

  .paymentScannerBox{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin-bottom: 10px;
}
.paymentScannerBox div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    margin: 0px 25px;
  }
  .paymentScannerBox div h4{
    margin: 0 0 1px;
    font-size: .85rem;
  }
  .paymentScannerBox div h5{
    margin: 0px 0 10px;
    font-size: .8rem;
    color: rgb(119, 27, 218);
  }
  .qrScannerImage{
    width: 120px;
    height: 120px;
  }
  .merchandiseInstructionButton{
    border: 0;
    /* background: linear-gradient(to top right, rgb(157, 26, 26), rgb(244, 32, 32)); */
    background: linear-gradient(to top right, rgb(72, 15, 133), rgb(142, 18, 219));
    color: white;
    padding: 18px 40px;
    font-family: 'Exo', sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
  }
  .p1{
     border: 0;
    background: linear-gradient(to top right, rgb(157, 26, 26), rgb(244, 32, 32));
    color: white;
    padding: 18px 40px;
    font-family: 'Exo', sans-serif;
    font-weight: 800;
    font-size: 1.1rem;
  }

  .instructionsModal h2{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    justify-content: center;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    /* color: rgb(167, 31, 31); */
    /* color: rgb(103, 103, 103); */
    color: rgb(111, 17, 212);
    font-weight: 800;
  }

  .instructions{
    display: flex;
    /* align-items: center; */
    font-family: 'Poppins', sans-serif;
    margin: 4px 2px;
    text-align: justify;
  }
  .instructions span{
    font-size: .79rem;
    line-height: 16px;
    width: 90%;
  }
  .instructions span i{
    color: rgb(4, 52, 227);
  }
  .instructions span b, .instructions span strong{
    color: rgb(44, 43, 43);
  }
  .instructionBullets{
    margin-left: 6px;
    margin-right: 6px;
  }
  .instructionLink{
    color: rgb(0, 72, 255);
    font-weight: 700;
    font-size: .75rem;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
  }
  /* .merchandiseUnderstoodButtonBox{
    position: relative;
  } */
  .merchandiseUnderstoodButtonBox button{
    /* background: rgb(40, 107, 232); */
    background: rgb(117, 25, 216);
    color: white;
    padding: 7px 15px;
    border: 0px;
    position: absolute;
    right: 30px;
    bottom: 20px;
    border-radius: 4px;
    font-size: .76rem;
    cursor: pointer;
  }

  .instructionsModal .exitIcon{
    position: absolute;
    top: 28px;
    right: 26px;
    font-size: 1.2rem;
    cursor: pointer;
    color: rgb(72, 15, 133);
  }

  @media (max-width: 550px){
    .instructionsModal{
      width: 100%;
      height: 80%;
      border-radius: 10px;
      padding: 10px 25px;
      padding-bottom: 30px;
    }
    .instructionsModal h2{
      top: 5px;
      left: 0;
      right: 0;
      justify-content: center;
      font-size: .96rem;
      align-items: center;
    }
    .instructions span{
      font-size: .7rem;
      /* line-height: 14px; */
      width: 90%;
      text-align: justify;
    }
  }
  @media (max-width: 480px){
    .instructionsModal{
      /* width: 365px;
      height: 610px; */
      border-radius: 10px;
      padding: 0px 25px;
      padding-bottom: 20px;
    }
    .instructionsModal h2{
      top: 15px;
      left: 0;
      right: 0;
      justify-content: center;
      font-size: .91rem;
      text-align: center;
      align-items: center;
    }
    .qrScannerImage{
        width: 90px;
        height: 90px;
      }
      .instructions span{
        /* font-size: .79rem; */
        /* line-height: 15px; */
        width: 90%;
        text-align: justify;
      }
      .merchandiseInstructionButton{
          padding: 18px 30px;
          font-family: 'Exo', sans-serif;
          font-weight: 800;
          font-size: .95rem;
          border-radius: 30px;
          cursor: pointer;
        }
      .paymentScannerBox{
        margin-bottom: 5px;
      }
}

@media (max-width: 440px){
    .instructionsModal{
      /* width: 340px;
      height: 590px; */
      border-radius: 10px;
      padding: 0px 25px;
      padding-bottom: 20px;
    }
    .instructionsModal h2{
      top: 6px;
      left: 0;
      right: 0;
      justify-content: center;
      font-size: .9rem;
      text-align: center;
      align-items: center;
    }
    /* .qrScannerImage{
      width: 115px;
      height: 115px;
    } */
    .instructions span{
      /* font-size: .77rem; */
      /* line-height: 14px; */
      width: 90%;
      text-align: justify;
    }
  }
  @media (max-width: 390px){
    .instructionsModal{
      /* width: 340px;
      height: 590px; */
      padding: 0px 20px;
      padding-bottom: 20px;
    }
    .instructionsModal h2{
      top: 6px;
      left: 0px;
      right: 0;
      justify-content: center;
      font-size: .89rem;
      text-align: center;
      align-items: center;
    }
    .instructions span{
      /* font-size: .75rem;
      line-height: 14px; */
      width: 90%;
      text-align: justify;
  
    }
  }

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
    .login {
        justify-content: center;
    }
    .login__form {
        width: 432px;
        padding: 4rem 3rem 3.5rem;
        border-radius: 1.5rem;
    }
    .login__title {
        font-size: 2rem;
    }
}
#modal {
    max-height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}
