/* Cards.css */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

.wrapper-container{
    font-family: 'Montserrat', sans-serif;
    background: #030022;
<<<<<<< HEAD
    min-height:100vh;
=======
    /* height:100vh; */
>>>>>>> 810d0c171abedebe7d2c6c4760c25174986561c3
}

.card-title h3 {
    text-align: center;
    color: #4181ee;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    min-height: 350px;
    background: #3D019F;
    padding: 30px;
    border-radius: 3px;
    box-sizing: border-box;
    color: #FFF;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-right-radius: 60px 60px;
    box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;
    position: relative;
    cursor: pointer;
    transition: transform 0.35s cubic-bezier(.25, .1, 0, 2.05);
}

.card-title{
    position: absolute; 
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%);
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 1.2px;
    text-align: center;
    margin: 0; 
    color:white;
}
.card.active {
    background: linear-gradient(to bottom,#9344FB,#3D049F);
    transition: transform 0.3s cubic-bezier(0, -2, 0, 1.86);
    transform: scale(1.12);
}
