#merchendise-body
{
    width: 100%;
    padding: 20px;
    min-height: 100vh;
}
#merchendise-body header
{
    text-align: center;
    font-size: 42px;
    padding-bottom: 19px;
    word-spacing: 10px;
    letter-spacing: 3px;
    font-style: italic;
    font-weight: 1000;
    text-shadow: 5px 5px #558ABB;
    background-image: url(https://www.shutterstock.com/shutterstock/photos/2167482725/display_1500/stock-vector-abstract-vibrant-gradient-background-saturated-colors-smears-vector-eps-2167482725.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
    /* color: black;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue; */
}
#merchendise-main
{
    display: flex;
    margin-top: 44px;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 5%;
}
#formData
{
    width: 100%;
    border-radius: 10px;
    /* box-shadow: 0px 0px 8px 8px violet; */
}
.formComponents
{
    margin: 20px;
    display: flex;
    align-items: center;
}
.formComponents input
{
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 3px 2px 3px 2px;
    box-shadow: 2px 2px;
    background-color: transparent;
    outline: none;
    font-weight: 600;
}
.formComponents input::placeholder
{
    color: rgb(66, 28, 85);
    font-weight: normal;
}
.formDropdown
{
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 3px 2px 3px 2px;
    box-shadow: 2px 3px;
    background-color: transparent;
}
.formDropdown option
{
    background-color: violet;
}
.formDropdown:focus
{
    animation: focused 0.1s ease-out forwards;
}
.formComponents input:focus
{
    animation: focused 0.1s ease-out forwards;
}
@keyframes focused {
    to {
        font-size: 30px;
    }
}
#submitForm
{
    display: flex;
    justify-content: space-evenly;
}
.formButtons
{
    background-color: blue;
    border-radius: 10px;
    color: white;
    padding: 4px 13px 4px 13px;
    font-size: 17px;
    margin: 5px;
    height: min-content;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
}
/* #FF0000, #FF7300, #FFFB00, #48FF00, #00FFD5, #002BFF, #FF00C8, #FF0000 */

#submitOrder::before
{
    content: "";
    background: linear-gradient(
      45deg , #FF0000 , #FF7300 , #FFFB00 , #FF00C8 , #FF0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

#close::before
{
    content: "";
    background: linear-gradient(
    45deg , #002BFF , violet , purple , brown , #FF7300 , #00FFD5 , #FF00C8);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}
  
@keyframes glowing
{
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}

#submitOrder:hover::before , #close:hover::before
{
    opacity: 1;
}

#Image-Container
{
    border-radius: 7px;
    height: 454px;
    width: 329px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 20px;
}
#ButtonContainer
{
    display : flex;
    flex-direction : column;
}
#cost
{
    /* width: 329px; */
    text-align: center;
    border-radius: 20px;
    /* animation: cost 1s ease-in-out 0s infinite alternate; */
    font-size: 20px;
    background-color: purple;
    color: yellow;
    /* margin-top: 30px; */
}
@keyframes cost
{
    to{
        font-size: 20px;
        background-color: purple;
        color: yellow;
        margin-top: 30px;
    }
    from{
        margin-top: 20px;
        font-size: 30px;
        background-color: red;
        color: white;
    }
}
#picPositions
{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: auto;
    padding-bottom: 30px;
}
.tshirtPosition
{
    border-radius: 50%;
    height: 10px;
    width: 10px;
}
/* body.active-modal {
    overflow-y: hidden;
} */

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: #f1f1f1; */
    /* background-color: #e3ebb1; */
    /* background-image: radial-gradient(circle , #af3baf , violet , pink); */
    background-color: #af3baf;
    border-radius: 3px;
    width: 489px;
}
.modal-content:hover
{
    overflow-y: auto;
}
.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}