#Watchlist-body
{
    width: 100%;
    min-height: 100vh;
}
#Watchlist-body header
{
    color: white;
    text-align: center;
    font-size: 70px;
    /* font-size: 5cqi; */
    font-weight: 900;
    word-spacing: 37px;
    letter-spacing: 6px;
    padding: 29px;
    animation: glowHeader 1s alternate infinite;
    text-decoration: underline;
    font-style: italic;
}
@keyframes glowHeader
{
    from{text-shadow: none;}
    to{text-shadow: 0px 0px 29px white , 0px 0px 49px cyan;}
}
#watchlist
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
}
.watch
{
    position: relative;
    background: url(https://img.freepik.com/free-vector/blank-white-notepaper-design-vector_53876-161340.jpg?size=626&ext=jpg&ga=GA1.1.87170709.1707696000&semt=sph);
    background-size: cover;
    padding: 20px;
    width: 336px;
    height: min-content;
    margin: 20px;
    overflow: hidden;
    animation: hanging 4s alternate ease;
    transform-origin: 50% 12%;
    container-type: inline-size;
}
@keyframes hanging
{
  0%{transform: rotate(-5deg)}
  17%{transform: rotate(4deg)}
  37%{transform: rotate(-3deg)}
  53%{transform: rotate(2deg)}
  78%{transform: rotate(-1deg)}
  100%{transform: rotate(0deg)}
}
.watch:before
{
    content: '';
    position: absolute;
    height: 22px;
    width: 100%;
    left: 0;
    clip-path: polygon(0% 0%, 0% 100%, 12% 0%, 14% 33%, 16% 5%, 21% 60%, 26% 5%, 27% 62%, 36% 2%, 45% 52%, 51% 1%, 56% 35%, 62% 0%, 69% 27%, 70% 0%, 76% 63%, 81% 0%, 84% 36%, 92% 0%, 97% 100%, 112% 3%);
    /* background-image: linear-gradient(to right, #25015E, #050027); */
    background-color: #070459;
    border: none;
    top: -1px;
}
.watchComponents
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-wrap: break-word;
}
.watch img
{
    margin-top: 10px;
    margin-bottom: 10px;
}
#eventName
{
    font-size: 12cqi;
    font-weight: 800;
    margin-top: 37px;
    margin-bottom: 8px;
    animation: colorChange 5s infinite;
}
@keyframes colorChange
{
    0%{color: red;}
    20%{color: purple;}
    40%{color: blue;}
    60%{color: green;}
    80%{color: violet;}
    100%{color: orange;}
}
#eventTime
{
    font-size: 8cqi;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 8px;
}
#eventVenue
{
    font-size: 9cqi;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 8px;
    color: red;
}
#deleteIcon
{
    color: red;
    position: absolute;
    display: flex;
    right: 12px;
    bottom: 2px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 6cqi;
}
#deleteIcon:hover
{
    background-color: rgb(209, 209, 209);
}
@media only screen and (width<458px)
{
    #Watchlist-body header
    {
        padding: 10px;
        word-spacing: none;
        font-size: 47px;
    }
}
@media only screen and (width<330px)
{
    #Watchlist-body header
    {
        font-size: 14cqi;
        letter-spacing: none;
    }
}