body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input{
  border: 2px solid red;
}
label{
  padding: 10px;
}
input{
  padding: 5px;
  width: 400px;
}
