#formData
{
    width: 100%;
}
#formData::before
{
    content: "";
    position: absolute;
    background-color: yellow;
    width: 200px;
    height: 134%;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    animation: rotate 4s linear infinite;
    /* box-shadow: 0px 0px 8px 8px yellow; */
}
#formData::after
{
    content: "";
    position: absolute;
    inset: 5px;
    background: linear-gradient(to right , #e15454 , #dccccc);
    z-index: -1;
}
@keyframes rotate
{
    from{ transform: rotate(0deg);}
    to{ transform: rotate(360deg); }
}
.formComponents
{
    margin: 20px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid purple;
    /* position: relative; */
    /* border-radius: 10px; */
    /* box-shadow: inset 0px 0px 8px 8px silver; */
    /* background-color: whitesmoke; */
}
.formComponents input
{
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 3px 2px 3px 2px;
    background-color: transparent;
    outline: none;
    font-weight: 600;
    color: brown;
}
.formComponents input::placeholder
{
    /* color: rgb(66, 28, 85); */
    color: white;
    font-weight: normal;
}
.formDropdown
{
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 3px 2px 3px 2px;
    background-color: transparent;
    outline: none;
}
.formDropdown option
{
    color: black !important;
}
.formComponents div
{
    position : absolute ;
    margin : auto ;
    left : 0 ;
    right : 0 ;
    width: max-content;
    pointer-events: none;
    transition: 0.5s;
    font-size: 20px;
}
.formComponents input:focus + div,
.formComponents input:valid + div
{
    transform: translateY(-19px);
    font-size: 15px;
    color: white;
}
.formDropdown option[value="none"]:disabled {
    color: blue; /* Change the color to gray */
}
#submitForm
{
    display: flex;
    justify-content: space-evenly;
    border-bottom: none;
    margin: 20px;
    align-items: center;
}
.merchButtons
{
    background-color: blue;
    border-radius: 10px;
    color: white;
    padding: 4px 13px 4px 13px;
    font-size: 17px;
    margin: 5px;
    height: min-content;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

#submitOrder::before
{
    content: "";
    background: linear-gradient(
      45deg , #FF0000 , #FF7300 , #FFFB00 , #FF00C8 , #FF0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

#close::before
{
    content: "";
    background: linear-gradient(
    45deg , #002BFF , violet , purple , brown , #FF7300 , #00FFD5 , #FF00C8);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

#submitOrder:hover::before , #close:hover::before
{
    opacity: 1;
}
@media only screen and (width<480px)
{
    .formComponents
    {
        margin-right: 10px;
        margin-left: 10px;
    }
}